@import './banner-tile/BannerImageTile.scss';
@import './home-content/HomeContent.scss';
@import './home-trending/HomeTrending.scss';
@import './footer/Footer.scss';
@import './header/Header.scss';
@import './create-form/CreateForm.scss';
@import "react-datepicker/dist/react-datepicker.css";
@import './home-main/MainSection.scss';

.h-100vh {
    height: 100vh;
}
.commonFirstSec{
    margin: 50px 0px;
    border-radius: 10px;
}
h2{
    color: #133259 !important;
    font-weight: 600 !important;
}
a{
    color: #133259 !important;
    font-weight: 600;
    text-decoration: none !important;
}

.HomeBanSec{
    // padding: 50px 0;
    box-shadow: 0px 0px 35px rgb(0 0 0 / 15%);
    img{
        height: 520px;
    }
}