.position-relative {
    position: relative;
}

.position-right {
    float: right;
}

.w-150x {
    width: 150px;
}

.btn-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-border {
    border: 1px solid #cbcbcb;
    padding: 5px 10px;
    border-radius: 6px;
}
.input-border:active {
    border-color: rgb(130, 199, 242);
}

.justify-around {
    justify-content: space-around;
    align-items: center;
}